/* Estilos personalizados para la página de perfil */

.profile-container {
    height: 100vh;
    background-color: #56b845; /* Fondo verde suave */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Letrero de bienvenida */
.welcome-banner {
    font-size: 2rem;
    color: #1a1c1a; /* Verde oscuro */
    margin-bottom: 20px;
    text-align: center;
}

.profile-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-header {
    margin-bottom: 20px;
}

.profile-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%; /* Para asegurar que la imagen sea circular */
}

.profile-name {
    font-size: 1.5rem;
    color: #2ecc71; /* Verde brillante */
}

.profile-role {
    font-size: 1rem;
    margin-top: -10px;
    color: #6c757d; /* Color gris para el rol */
}

.user-details {
    text-align: left;
    margin-top: 20px;
}

.user-details p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #343a40; /* Color gris oscuro para los detalles del usuario */
}

/* Botones */
.btn-custom {
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: #ffffff; /* Texto blanco para los botones */
}

.btn-actualizar {
    background-color: #28a745; /* Verde más oscuro */
}

.btn-cancelar {
    background-color: #ffc107; /* Amarillo suave para el botón de cancelar */
}

/* Alinear botones */
.button-group {
    display: flex;
    justify-content: space-between; /* Espacio entre los botones */
    width: 100%; /* Asegura que ocupen todo el ancho */
    margin-top: 20px; /* Espacio superior para separar de los detalles del usuario */
}

.button-group .btn-custom {
    flex: 1; /* Permite que ambos botones se expandan igualmente */
    margin: 0 10px; /* Espacio entre los botones */
}

.btn-actualizar:hover {
    background-color: #587a5f; /* Verde oscuro al hover */
}

.btn-cancelar:hover {
    background-color: #e0a800; /* Amarillo más */
}
